
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*overflow: hidden;*/
}

#landing {
  height: 100vh;
  background-image: 
}

#contact {
	height: 100vh;
}


#message {
	height: 200px;
}

#logo {
	width: 130px;
	height: 100px;
}

#contact-hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
    color: white;
}

.nav-item {
  padding: 10px;
}

legend {
	font-size: 72px;
}


i {
  background: -webkit-linear-gradient(#efefef, #efefee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

#blue {
    background-color: #0F9DEB;
}

#violet {
    background-color: #9966CC;
}

#red {
   background-color: #DC143C;
}

#events h2 {
   /*background: -webkit-linear-gradient(#0F9DEB, #DC143C);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;*/
   font-weight: bold;
}

#card-event {
    position: relative;
    background-color: #FFFFFF;
    height: 370px;
    width: 240px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

#card-event:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2);
}

#credits {
    background: -webkit-linear-gradient(#0F9DEB, #DC143C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer {
  margin-left: 15px;
  margin-right: 10px;
}

#about-text {
  color: #0F9DEB;
}

#about-sub {
  color: #9966CC;
}

#about-p {
  color: #DC143C;
}

.contact-icon {
  height: 5em;
  width: 6em;
  padding: 10px;
  background-color: gray;
  margin-bottom: 20px;
}

#contact-form {
  border-radius: 2px;
  box-shadow: 1px 1px 1px .5px;
}

h2,h3 {
  font-weight:bold;
}




.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}








.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}












ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #DC143C;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #DC143C;
    color: white !important
}



















@import url('https://fonts.googleapis.com/css?family=Sarpanch:900');

$rotationAmt: -12;

body {
  display: grid;
  grid-template-areas: ". . ." ". text ." ". . .";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  background-image: radial-gradient(circle, #333333, #222222);
}

 h1 {
  transform: skew(#{$rotationAmt}deg) rotate(#{$rotationAmt}deg);
  grid-area: text;
  font-family: 'Sarpanch', sans-serif;
  font-size: 20vmin;
  margin: 0;
  padding: 30px;
  color: #0F9DEB;
  text-shadow: 1vmin 1vmin 0 #9966CC, -1vmin -1vmin 0 #DC143C;
}
